.embla {
  overflow: hidden;
  background-color: var(--baseColor);
}
.embla__container {
  display: flex;
  height: 90vh;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

/* Tablet */
@media (min-width: 425px) {
  .container {
  }
}

/* Laptop */
@media (min-width: 769px) {
  .container {
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .container {
  }
}

/* Large desktop */
@media (min-width: 1201px) {
  .container {
  }
}
