.container {
  display: flex;
  align-items: center;
  background-color: var(--richBlack);
  color: var(--mintCream);
  justify-content: space-between;
  padding: 4rem;
  width: 100%;
}

.container .logo {
  display: flex;
  justify-content: flex-end;
}

.container .logo .logoImage {
  width: 50%;
  height: 50%;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
}

.socials .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials .item svg {
  margin-right: 0.5rem;
}

/* Tablet */
@media (min-width: 425px) {
  .container {
  }
}

/* Laptop */
@media (min-width: 765px) {
  .container {
    padding: 4rem;
  }

  .socials {
    width: 50%;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .container {
  }
}

/* Large desktop */
@media (min-width: 1201px) {
  .container {
  }
}
