:root {
  --onyx: #3f4045;
  --mintCream: #f7fff6;
  --magicMint: #bcebcb;
  --grannySmithApple: #87d68d;
  --richBlack: #02111b;
}

.icon-base-color {
  color: var(--baseColor);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
