.container {
  overflow: hidden;
}

.container .wrapper {
  position: relative;
}

.container .wrapper:first-child {
  transform: none;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content .wrapper {
  color: var(--mintCream);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.content .wrapper svg {
  margin-top: 25%;
}

.title {
  font-size: 1.75rem;
}

.subTitle {
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
}

/* Tablet */
@media (min-width: 425px) {
  .container {
  }
}

/* Laptop */
@media (min-width: 769px) {
  .container {
  }

  .title {
    font-size: 4rem;
  }

  .subTitle {
    font-size: 2rem;
    text-transform: uppercase;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .container {
  }
}

/* Large desktop */
@media (min-width: 1201px) {
  .container {
  }
}
