.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 1.5rem;
  width: 100%;
  background-image: url(../public/images/vegetables.jpg);
  position: relative;
  background-position: center;
  background-repeat: none;
  background-attachment: fixed;
  background-size: cover;
  color: var(--mintCream);
}

.container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.title {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  width: 100%;
  margin: 2rem;
  text-transform: uppercase;
  z-index: 2;
  text-align: center;
}

.description {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  z-index: 2;
}

/* Tablet */
@media (min-width: 425px) {
  .container {
  }
}

/* Laptop */
@media (min-width: 765px) {
  .container {
    padding: 6rem;
  }

  .title {
    font-size: 2.5rem;
    width: 70%;
    margin: 0 0 5rem 0;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .container {
  }
}

/* Large desktop */
@media (min-width: 1201px) {
  .container {
  }
}
