.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: var(--richBlack);
  color: var(--mintCream);
  padding: 2rem;
}

.container .titleWrapper {
  margin: 2rem;
}

.container .imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25rem;
  background-image: url(../public/images/joseph.jpeg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.container .imageWrapper img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.container .descWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.container .descWrapper .desc {
  font-size: 1.25rem;
  text-align: center;
}

.container .descWrapper .contact {
  text-align: center;
}

/* Tablet */
@media (min-width: 425px) {
  .container .titleWrapper {
    font-size: 2rem;
  }
}

/* Laptop */
@media (min-width: 765px) {
  .container {
    height: 100%;
    flex-direction: column;
  }

  .container .imageWrapper {
    width: 100%;
    height: 100%;
    /* background-position: imageWrapper; */
    /* background-attachment: fixed; */
  }

  .container .descWrapper {
    padding: 0 3rem;
    width: 100%;
  }

  .container .descWrapper .title {
    font-size: 3rem;
    text-align: center;
  }

  .container .descWrapper .desc {
    font-size: 1.5rem;
    text-align: center;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .container {
  }
}

/* Large desktop */
@media (min-width: 1201px) {
  .container {
  }
}
