.overlayOpen {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0);
  overflow-x: hidden;
  transition: 1s;
  color: var(--mintCream);
  display: flex;
  flex-direction: column;
}

.overlayClosed {
  display: none;
}

.overlayContent {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.menuWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--mintCream);
  padding: 1rem 2rem;
}

.menuWrapper .logoWrapper .logoImage {
  width: 50%;
  height: 50%;
}

.closeBtnWrapper {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;
}

.menuContent {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.menuItem {
  font-size: 4rem;
}

.btn {
  border: none;
  color: var(--mintCream);
  background: none;
  cursor: pointer;
}

/* Tablet */
@media (min-width: 425px) {
  /*  */
}

/* Laptop */
@media (min-width: 765px) {
  .menuWrapper {
    padding: 2rem 4rem;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  /*  */
}

/* Large desktop */
@media (min-width: 1201px) {
  /*  */
}
