.container {
  padding: 1rem 5rem;
  background-color: var(--richBlack);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 15px 10px -15px var(--onyx);
  color: var(--mintCream);
  z-index: 999;
}

.item {
  display: flex;
  align-items: center;
}

.texts {
  margin-left: 1rem;
}

.text:first-child {
  font-size: 1rem;
  font-weight: 500;
}

.text:last-child {
  font-size: 1.2rem;
  font-weight: bold;
}

.list {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
}

.listItem {
  font-weight: 500;
  font-size: 1.25rem;
  margin-left: 1rem;
}
